## CREDIT EDA ASSIGNMENT

### Problem Statement

In this case study, the bank loan data is given in two forms, application data set and previous application data set. It aims to identify patterns and to decide for loan approval based on the applicantâ€™s profile. It is based on two types of risk:
1.If a client has difficulty in paying the loan and then action can be taken such as refusing loan or reducing the amount of loan etc.
2.If the client is able to pay the loan, so that the application is not rejected.

Using EDA, company wants to know the variables which can lead the apllication to Defaultness (difficulty in loan payment) or indicators of Defaultness.

### 1. Importing Necessary Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 200) ## to display all columns in dataset as default value is 20
pd.set_option('display.max_rows', 200)  ## to display all rows in dataset as default value is 20
pd.set_option('display.width', 1000)  ## to display width as default value is 80

### 2. Reading Application File

In [6]:
appln = pd.read_csv(r'C:\Users\ASUS\OneDrive\Neha_Data_Science\PythodCode\matplotlib\application_data.csv')
appln.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

### 3. Checking the appln data

In [ ]:
## checking for info
appln.shape

In [ ]:
## checking for duplicated if any
appln.drop_duplicates().shape

In [ ]:
appln.describe()

### 3.1 Checking for Missing Values

In [ ]:
appln.isnull().sum()

##### as values are higher in number, sum is not giving proper idea about missing values. One way is to find average or mean and convert it into percentage to get the clear idea

In [ ]:
appln.isnull().mean()*100
## rounding it to 2 decimals
round(appln.isnull().mean()*100,2)

##### Here I can see that there are more null values in columns like car and about house details and the percentage value is more than 45%. Dropping the columns with percentage value more than 45% will not affect the evaluation more. so I should drop them.

In [ ]:
## dropping columns having missing values more than 45%
new_appln_data = appln.loc[:,round(appln.isnull().mean()*100,2) < 45.00]
new_appln_data.shape

There are some columns with percentage value of 13.50 for missing values. Some have higher values and remaining others are showing 0%. For studying further I need columns with 0%, and other columns I think no need to drop but not to be considered in analysis. So coulmns with percentage value greater than 0 but less than 13% is now taking into consideration.

In [ ]:
## checking it in list
list(new_appln_data.columns[(round(new_appln_data.isnull().mean()*100,2)<= 13.00) & 
                            (round(new_appln_data.isnull().mean()*100,2)> 00.00)])

Now these can be the possible columns which need to be studied for outliers. The other columns such as AMT_ANNUITY, OCCUPATION_TYPE, CNT_FAM_MEMBERS can be evaluated as these are much related to dataset and have some amount of missing values. Analysing one by one below.

### 3.1.1. AMT_GOODS_PRICE 
##### checking for type of variable and outliers if any.

In [ ]:
new_appln_data.AMT_GOODS_PRICE.value_counts()

In [ ]:
new_appln_data.AMT_GOODS_PRICE.describe()

In [ ]:
plt.figure(figsize = [8,2])
sns.boxplot(new_appln_data.AMT_GOODS_PRICE , color = 'cyan')
plt.style.use('ggplot')
plt.show()

Above plot shows that it have outliers. Most of the outliers are in the range of 1.5 - 2.5 and rest of are discrete. Hence imputing them by median value will give more correct results.

In [ ]:
goods_med = new_appln_data.AMT_GOODS_PRICE.median()
goods_med

In [ ]:
## imputing AMT_GOODS_PRICE with median calculated above
new_appln_data['AMT_GOODS_PRICE'] = new_appln_data['AMT_GOODS_PRICE'].fillna(goods_med)

## checking for null values in AMT_GOODS_PRICE again after imputation.
new_appln_data['AMT_GOODS_PRICE'].isnull().sum()

Similarly for other columns we can see the approach of replacing missing values.

### 3.1.2. NAME_TYPE_SUITE

In [ ]:
new_appln_data.NAME_TYPE_SUITE.describe()

In [ ]:
new_appln_data.NAME_TYPE_SUITE.mode()[0]

we can impute missing value with 'Unaccompanied' by fillna command as done above.

### 3.1.3. EXT_SOURCE_2

In [ ]:
new_appln_data.EXT_SOURCE_2.describe()

In [ ]:
plt.figure(figsize = [8,2])
sns.boxplot(new_appln_data.EXT_SOURCE_2 , color = 'orange')
plt.style.use('ggplot')
plt.show()

we can impute EXT_SOURCE_2 with median by fillna command

### 3.1.4. AMT_ANNUITY

In [ ]:
new_appln_data.AMT_ANNUITY.describe()

In [ ]:
## clearly from description, we can see that there is an outlier as 75th percentile value 
# and max value are far from each other
## checking it by boxplot

plt.figure(figsize = [8,2])
sns.boxplot(new_appln_data.AMT_ANNUITY , color = 'blue')
plt.style.use('ggplot')
plt.show()

imputing the missing values in AMT_ANNUITY by median will be correct approach.

### 3.1.5. OCCUPATION_TYPE

In [ ]:
new_appln_data.OCCUPATION_TYPE.describe()

as this is categorical variable, imputing missing values by mode will be better approach.

In [ ]:
# checking for mode of OCCUPATION_TYPE

new_appln_data.OCCUPATION_TYPE.mode()[0]

imputing the missing values in OCCUPATION_TYPE by 'Laborers' is the correct appraoch

### 3.1.6. CNT_FAM_MEMBERS

In [ ]:
new_appln_data.CNT_FAM_MEMBERS.isnull().sum()

In [ ]:
new_appln_data.CNT_FAM_MEMBERS.describe()

In [ ]:
## it is notable from the description that it has some outliers. plotting boxplot will give fair idea.

plt.figure(figsize = [8,2])
sns.boxplot(new_appln_data.CNT_FAM_MEMBERS , color = 'red')
plt.style.use('ggplot')
plt.show()

imputing it with median value is better approach as it is continuous variable

In [ ]:
new_appln_data.OBS_30_CNT_SOCIAL_CIRCLE.describe()

In [ ]:
plt.figure(figsize = [10,2])
sns.boxplot(new_appln_data.OBS_30_CNT_SOCIAL_CIRCLE , color = 'blue')
plt.style.use('ggplot')
plt.show()

Cleary it is a continuous variable has an outlier so we can replace the missing value by median. And same for the 'DEF_30_CNT_SOCIAL_CIRCLE','OBS_60_CNT_SOCIAL_CIRCLE','DEF_60_CNT_SOCIAL_CIRCLE' with the same approach.

For the columns AMT_REQ_CREDIT_BUREAU_HOUR, AMT_REQ_CREDIT_BUREAU_DAY, AMT_REQ_CREDIT_BUREAU_WEEK, AMT_REQ_CREDIT_BUREAU_MON, AMT_REQ_CREDIT_BUREAU_QRT, AMT_REQ_CREDIT_BUREAU_YEAR same approach can be used.



Only difference is that as these are categorical variables we can impute Mode for missing values in the columns.

In [ ]:
## for AMT_REQ_CREDIT_BUREAU_DAY

new_appln_data.AMT_REQ_CREDIT_BUREAU_DAY = new_appln_data.AMT_REQ_CREDIT_BUREAU_DAY.fillna(new_appln_data.AMT_REQ_CREDIT_BUREAU_DAY.mode())

## for AMT_REQ_CREDIT_BUREAU_WEEK

new_appln_data.AMT_REQ_CREDIT_BUREAU_WEEK = new_appln_data.AMT_REQ_CREDIT_BUREAU_WEEK.fillna(new_appln_data.AMT_REQ_CREDIT_BUREAU_WEEK.mode())

## for AMT_REQ_CREDIT_BUREAU_MON

new_appln_data.AMT_REQ_CREDIT_BUREAU_MON = new_appln_data.AMT_REQ_CREDIT_BUREAU_MON.fillna(new_appln_data.AMT_REQ_CREDIT_BUREAU_MON.mode())

## for AMT_REQ_CREDIT_BUREAU_QRT

new_appln_data. AMT_REQ_CREDIT_BUREAU_QRT = new_appln_data. AMT_REQ_CREDIT_BUREAU_QRT.fillna(new_appln_data. AMT_REQ_CREDIT_BUREAU_QRT.mode())

## for AMT_REQ_CREDIT_BUREAU_YEAR

new_appln_data. AMT_REQ_CREDIT_BUREAU_YEAR = new_appln_data. AMT_REQ_CREDIT_BUREAU_YEAR.fillna(new_appln_data. AMT_REQ_CREDIT_BUREAU_YEAR.mode())

#### 3.1.7. ORGANIZATION_TYPE

In [ ]:
new_appln_data.ORGANIZATION_TYPE.value_counts()

as from the value counts we can see that XNA category has the second highest occupied values which is equal to 55374 , dropping these values will affect the analysis. Also imputing these values with mode can also affect the analysis. Henece replacing these values with NaN will not affect analysis and computation.

In [ ]:
new_appln_data.loc[new_appln_data.ORGANIZATION_TYPE == 'XNA', 'ORGANIZATION_TYPE'] = 'NaN'

##### Now one of the step in data cleaning is checking the data types of columns and if any discontinuity is observed in any one variable then changing the data type of it to correct one is the task to do.

#### from the info and head command to dataframe, we can see that the columns starting with 'Day' have negative values which not so valid as birth, employment, registration is normally not negative. Hence taking absolute of these columns is necessary.

In [ ]:
new_appln_data.DAYS_BIRTH = new_appln_data.DAYS_BIRTH.abs()

##checking if negative values are eleminated or not
new_appln_data.DAYS_BIRTH.head()

In [ ]:
## similarly for other columns starting with 'Days' taking absolute of them
### for DAYS_EMPLOYED
new_appln_data.DAYS_EMPLOYED = new_appln_data.DAYS_EMPLOYED.abs()

### for DAYS_REGISTRATION
new_appln_data.DAYS_REGISTRATION = new_appln_data.DAYS_REGISTRATION.abs()

### for DAYS_ID_PUBLISH
new_appln_data.DAYS_ID_PUBLISH = new_appln_data.DAYS_ID_PUBLISH.abs()

### 3.2 Creating the column 'Age' from 'DAYS_BIRTH'  and binning them into group

In [ ]:
new_appln_data.AGE = new_appln_data.DAYS_BIRTH//365.25
new_appln_data.AGE = (new_appln_data.AGE).astype('int64')
new_appln_data.AGE.head()

In [ ]:
## for binning of column 'Age', let us first see the possible age groups
new_appln_data.AGE.describe()

In [ ]:
### here we can see that minimum age is 20 and maximum is 69, 
#so binning the age by 5 years will be good approach
new_appln_data.AGE_GP= pd.cut(new_appln_data.AGE, bins = [15,20,40,60,71], labels = ['Teen', 'Young', 'Mid-Age', 'Senior'])
new_appln_data.AGE_GP.head()

### 3.3. Analyzing CODE_GENDER column

In [ ]:
new_appln_data.CODE_GENDER.value_counts()

In [ ]:
### here XNA values are 4 we can replace these values with F as replacing 4 values with female will not affect analysis much more

new_appln_data.loc[new_appln_data.CODE_GENDER == 'XNA', 'CODE_GENDER'] = 'F'

### 3.4 Finding out Unique Values and convert data type if necessary into Categorical Variable

In [ ]:
un_val = new_appln_data.nunique().sort_values()
un_val

In [ ]:
for i in new_appln_data:
    if new_appln_data[i].nunique() < 4:
        new_appln_data[i] = new_appln_data[i].astype('object')

### 3.5 Checking for Outliers

Checking outliers for continuous variables like AMT_INCOME_TOTAL, AMT_CREDIT, AMT_ANNUITY, AMT_GOODS_PRICE, AGE, DAYS_EMPLOYED, DAYS_REGISTRATION.

#### 3.5.1 AMT_INCOME_TOTAL

In [ ]:
### checking outliers by plotting boxplot
plt.figure(figsize = [12,2])
sns.boxplot(new_appln_data.AMT_INCOME_TOTAL , color = 'blue')
plt.style.use('Solarize_Light2')
plt.title('AMT_TOTAL_INCOME Distribution')
plt.show()

##### Here we can see that there are some outliers and one outlier is at very extreme end.  Binning this variable could be one approach. Binning this will divide the income values in categories like 'Low', 'Medium' etc.

In [ ]:
## Binning the variable 'AMT_INCOME_TOTAL'
new_appln_data.AMT_INCOME_GP = pd.qcut(new_appln_data.AMT_INCOME_TOTAL,  q = [0, 0.2, 0.5, 0.8, 0.90, 1], 
                                       labels = ['Low', 'Medium','Average','High','Higher'] )

##checking for AMT_INCOME_GP
new_appln_data.AMT_INCOME_GP.head()

#### 3.5.2. AMT_CREDIT

In [ ]:
## checking for outliers 
plt.figure(figsize = [10,2])
sns.boxplot(new_appln_data.AMT_CREDIT , color = 'cyan')
plt.style.use('seaborn-dark')
plt.title('AMT_CREDIT Distribution')
plt.show()

##### Here the outliers are beyond 1.5 but they are in continuous form till 3.0. also after 3.0 the outlier points get discrete and the extreme outlier is somewhat nenar 4.0. The approach while handling these outliers could be binning or capping. Lets do binning for AMT_CREDIT.

In [ ]:
new_appln_data.AMT_CREDIT_GP = pd.qcut(new_appln_data.AMT_CREDIT,  q = [0, 0.2, 0.5, 0.8, 0.90, 1], 
                                       labels = ['Lower','Medium','Average','High','Higher'])

##checking for AMT_CREDIT_GP
new_appln_data.AMT_CREDIT_GP.head()

#### 3.5.3 AMT_GOODS_PRICE

In [ ]:
plt.figure(figsize = [10,2])
sns.boxplot(new_appln_data.AMT_GOODS_PRICE , color = 'red')
plt.style.use('seaborn-dark')
plt.title('AMT_GOODS_PRICE Distribution')
plt.show()

##### from the above graph of AMT_GOODS_PRICE, we can see that there is point which is beyond 4.o and is surely an outlier. Same for AMT_ANNUITY when plotted, there is an outlier which is greater than 258000. Capping or flooring them could be one of the approach. We can write a function for outlier treatment by calculating IQR and then upper whisker and lower whisker. And after that it will cap the variable within the range.

In [ ]:
### function gor outlier treatment

def outlier_treatment(col_name):
    Q1 = new_appln_data.col_name.describe().loc['25%']
    Q3 = new_appln_data.col_name.describe().loc['75%']
    IQR = Q3 - Q1
    up_whisk = Q3 + 1.5*IQR
    lo_whisk = Q1 - 1.5*IQR
    new_appln_data.col_name = np.where(new_appln_data.col_name > up_whisk ,up_whisk ,new_appln_data.col_name)

#### 3.5.4 AGE

In [ ]:
plt.figure(figsize = [10,2])
sns.boxplot(new_appln_data.AGE , color = 'green')
plt.style.use('seaborn-dark')
plt.title('AGE Distribution')
plt.show()

##### clearly AGE column has no outlier, hence no need to treat outlier.

#### 3.5.5 DAYS_EMPLOYED

In [ ]:
plt.figure(figsize = [10,2])
sns.boxplot(new_appln_data.DAYS_EMPLOYED , color = 'yellow')
plt.style.use('seaborn-dark')
plt.title('DAYS_EMPLOYED Distribution')
plt.show()

##### Clearly from above graph , it is seen that there is an outlier. As the value of outlier is greater than 350000. And this is not a valid outlier as if value of 350000 is calculated in terms of years, it will turn out to be 95 years and considering the average age of starting of employment as 21, total age of person will be 116 years which is not a valid case. Hence dropping this outlier will be correct approach.

#### 3.5.6 DAYS_REGISTRATION

In [ ]:
plt.figure(figsize = [10,2])
sns.boxplot(new_appln_data.DAYS_REGISTRATION , color = 'brown')
plt.style.use('seaborn-dark')
plt.title('DAYS_REGISTRATION Distribution')
plt.show()

##### Here, as we can see that there are some continuous points beyond upper whisker, but there is one point which greater than 24000 can be named as outlier. DAYS_REGISTRATION column tells that how many days before application client changed his/her registration. Here the correct approach could be capping this variable by above defined function.

In [ ]:
#### for the columns which need to be done capping, following line of code can be wriiten and executed

## the code is written in commented lines as if executed, it will show the results above also,
## which will then get difficult to observe analysis.

#for i in ['AMT_ANNUITY', 'AMT_GOODS_PRICE', 'DAYS_REGISTRATION']:
    #outlier_treatment(i)

### 3.6 Identifing if there is data imbalance in the data. Find the ratio of data imbalance.

In [ ]:
## checking imbalancement in TARGET variable
new_appln_data.TARGET.value_counts()

In [ ]:
new_appln_data['TARGET'].value_counts().plot.pie(autopct = '%1.1f%%', shadow = True,fontsize = 12)
plt.title("Imbalancement of TARGET")
centre_circle = plt.Circle((0,0),0.30,fc='white')
fig = plt.gcf()
fig.gca().add_artist(centre_circle)
plt.style.use('ggplot')
plt.show()

Here, from the value counts of TARGET variable, we can see that there is much imbalancemet in the data. 91.9 % for TARGET = 0 and 8.1 % for TARGET = 1. This imbalaced data needs to be handled as the variable is important from required ananlysis point of view. One of the approach can be segmentated univariate which means dividing data set into smaller segments based on imbalanced variable and then performing univariate analysis on those smaller segments.

In [ ]:
## segmenting the data into two seperate segments/dataframes

T0 = new_appln_data.loc[new_appln_data.TARGET == 0]
T1 = new_appln_data.loc[new_appln_data.TARGET == 1]

In [ ]:
T0.head()

### 3.7 Univariate Analysis

##### Analyzing and Comparing different categorical variables like , 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'NAME_TYPE_SUITE', 'NAME_EDUCATION_TYPE' , 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'NAME__INCOME_TYPE' , 'AGE_GP', 'AMT_INCOME_GP'

##### Creating Functions

In [ ]:
## creating functions for plotting Pie chart for different variables in both the cases 'Non-Defaulters(T0)' and 'Defaulters'(T1)
def pie_T0_T1(col_name):
    plt.figure(figsize = [25,8])
    plt.subplot(1,2,1)
    #labels = T0.value_counts().index
    T0[col_name].value_counts().plot.pie(autopct = '%1.1f%%', shadow = True,fontsize = 12,labeldistance = 1.1)
    plt.title(f'Distribution of {col_name}  by Non-Default Applicants')
    centre_circle = plt.Circle((0,0),0.30,fc='white')
    fig = plt.gcf()
    fig.gca().add_artist(centre_circle)
    plt.legend(loc = 'upper right')
    
    plt.subplot(1,2,2)
    T1[col_name].value_counts().plot.pie(autopct = '%1.1f%%', shadow = True,fontsize = 12, labeldistance = 1.1)
    plt.title(f'Distribution of {col_name}  by Default Applicants')
    plt.style.use('seaborn-dark')
    plt.tight_layout()
    centre_circle = plt.Circle((0,0),0.30,fc='white')
    fig = plt.gcf()
    fig.gca().add_artist(centre_circle)
    plt.legend(loc = 'upper right')

#### 3.7.1. NAME_CONTRACT_TYPE

In [ ]:
pie_T0_T1('NAME_CONTRACT_TYPE')

#### from above two graphs we can observe that 'Cash Loan' have more percentage in both the cases i.e. 'Non-Defaulters' and 'Defaulters'. However, the category of 'Defaulters' percentage has decreased in resolving loans and increased in Cash loan.

#### 3.7.2. CODE_GENDER

In [ ]:
pie_T0_T1('CODE_GENDER')

#### From above two graphs, it is clear that percentage of "MALE" applicants is increasing in 'Default Applicants' from 33% to 43% while percentage of Female applicants is decreasing

In [ ]:
## functions for plotting 'Bar' chart
def bar_T0_T1(col_name):
    plt.figure(figsize = [20,7])
    plt.subplot(1,2,1)
    #labels = T0.value_counts().index
    T0[col_name].value_counts().plot.bar(fontsize = 12)
    plt.title(f'Distribution of {col_name}  by Non-Default Applicants')
    
    plt.subplot(1,2,2)
    T1[col_name].value_counts().plot.bar(fontsize = 12)
    plt.title(f'Distribution of {col_name}  by Default Applicants')
    plt.style.use('ggplot')
    plt.tight_layout()

#### 3.7.3. NAME_TYPE_SUITE

In [ ]:
bar_T0_T1('NAME_TYPE_SUITE')

#### from above graph it is not getting much clear about 'Non-Default Applicants' and 'Default Apllicants'. In both the cases, the suit type, 'Unaccompanied' has highr value compared to others. Hence it is difficult to analysize by this variable

#### 3.7.4. NAME_EDUCATION_TYPE

In [ ]:
bar_T0_T1('NAME_EDUCATION_TYPE')

In [ ]:
pie_T0_T1('NAME_EDUCATION_TYPE')

#### from above graphs, we can see that percentage of 'Secondary / secondary special' education type is increasing in Default applicants while percentage of 'Higher Education' applicants is decreasing in Default applications when compared with Non-Default applications. In other type Educations there is no major change in both Non-Default and Default applications.

#### 3.7.5. NAME_FAMILY_STATUS

In [ ]:
pie_T0_T1('NAME_FAMILY_STATUS')

#### when observed from above pie charts, there is decrease in percentage of 'Married' and 'Widow' with Loan Payment Difficulties and increase in percenatge of 'Single/not married' and 'Civil marriage' with Loan Payment Difficulties whencompared with Non-Loan Difficulties. However the difference is not major but the changes can be considered.

#### 3.7.6. NAME_HOUSING_TYPE

In [ ]:
pie_T0_T1('NAME_HOUSING_TYPE')

#### we can observe that, the percentage of applications having own house or apartments is decreasing from 89% to 86% and percentage of applications living with parents is increasing in Loan Payment Difficulties. For other categories there are no changes.

#### 3.7.7. OCCUPATION_TYPE

In [ ]:
bar_T0_T1('OCCUPATION_TYPE')

#### the observation is that, the percentage of 'Laborers' , 'Drivers', 'Security Staff', 'Cooking Staff', 'Low Skill Staff' is increasing in case of Loan Payment Difficulties when compared with No Loan Payment Difficulties.

#### 3.7.8. NAME_INCOME_TYPE

In [ ]:
pie_T0_T1('NAME_INCOME_TYPE')

#### we can observe that , the percentage working professionals in increasing in Loan Payment Difficulties from 51% to 61% while that of Pensioner, the percentage id decreasing by 7% in Loan Payment Difficulties when compared with No Paymemt Difficulties.

### 3.8 Univariate Analysis for Continuous Variables

##### Analyzing some continuous variables for T0 and T1. The variables to be analysed are , 'AMT_ANNUITY', 'AMT_CREDIT', 'AMT_INCOME_TOTAL', 'DAYS_EMPLOYED', 'CNT_FAM_MEMBERS', 'AMT_GOODS_PRICE'.

In [ ]:
## continuous variables can be analysed more efficiently by distplots or Histograms.
## creating function for plotting graphs.

def dist_T0_T1(col_name):
    fig, (ax1,ax2) = plt.subplots(1,2 , figsize = (20,5))  
    sns.distplot(T0[col_name], ax = ax1 )
    ax1.set_title(f'Distribution of {col_name}  by Non-Default Applicants')
    plt.style.use('ggplot')
    
    sns.distplot(T0[col_name], ax = ax2 )
    ax2.set_title(f'Distribution of {col_name}  by Default Applicants')
    plt.style.use('ggplot')
    
    plt.show()

#### 3.8.1. AMT_ANNUITY

In [ ]:
dist_T0_T1('AMT_ANNUITY')

#### we can observe that applications with low amount of annuity have higher tendency to apply for loan

#### 3.8.2. AMT_CREDIT

In [ ]:
dist_T0_T1('AMT_CREDIT')

#### No major changes can be observed in both the cases.

#### 3.8.3. AMT_INCOME_TOTAL

In [ ]:
dist_T0_T1('AMT_INCOME_TOTAL')

#### though from graph , it is not much clear but we can predict that, people with low income in total have higher tendency of Default i.e difficulty in loan payment.

#### 3.8.4. DAYS_EMPLOYED

In [ ]:
dist_T0_T1('DAYS_EMPLOYED')

#### we can observe that, low days of employment or people who just got employed tend more to apply for loand than those of more days of employment. Also we can observe that, people with high days of employment have lower tendency of Defaulting.

#### 3.8.5. CNT_FAM_MEMBERS

In [ ]:
dist_T0_T1('CNT_FAM_MEMBERS')

#### here it can be observed that, families with less number of members tend to apply more for loan in both cases.

#### 3.8.6. AMT_GOODS_PRICE

In [ ]:
dist_T0_T1('AMT_GOODS_PRICE')

#### we can observe that for low amount of goods, the tendency of applying for loans is more and the praportion is quiet more in case of Default applications upto range of 0-0.7

#### 3.8. Bivariate Analysis ; Numerical Vs Numerical

In [ ]:
def scatt_T0_T1(col_name1, col_name2):
    fig, (ax1,ax2) = plt.subplots(1,2 , figsize = (20,5))
    sns.scatterplot(x = col_name1, y = col_name2, data = T0, ax = ax1 )
    ax1.set_title(f'Distribution of {col_name1} & {col_name2}  by Non-Default Applicants')
    plt.style.use('ggplot')
    
    sns.scatterplot(x = col_name1, y = col_name2, data = T1, ax = ax2 )
    ax2.set_title(f'Distribution of {col_name1} & {col_name2} by Default Applicants')
    plt.style.use('ggplot')
    
    plt.show()

##### 3.8.1. AMT_INCOME_TOTAL , CNT_FAM_MEMBERS

In [ ]:
scatt_T0_T1('CNT_FAM_MEMBERS', 'AMT_INCOME_TOTAL')

##### we can observe that, people with low income and relatively small or medium family have more tendency of default. While for Non Default applications people with medium family have average income.

##### 3.8.2. AMT_INCOME_TOTAL , DAYS_EMPLOYED

In [ ]:
scatt_T0_T1('DAYS_EMPLOYED', 'AMT_INCOME_TOTAL')

##### we can observe that people with less days of employment and with less income have tendency towards difficulty in payment of loan.

#### 3.8.3. AMT_CREDIT , CNT_FAM_MEMBERS

In [ ]:
scatt_T0_T1('AMT_CREDIT', 'CNT_FAM_MEMBERS')

##### we can observe that people with less family members and low AMT_CREDIT are more likely to default while people with large family and large AMT_CREDIT are less likely to Default

##### Pair plot for analysis between some continuous variables against loan repayment

In [ ]:
amt = new_appln_data[['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_GOODS_PRICE', 'AMT_ANNUITY', 'TARGET']]
amt = amt[(amt['AMT_GOODS_PRICE'].notnull()) & (amt['AMT_ANNUITY'].notnull())]
ax3 = sns.pairplot(amt, hue =  'TARGET' , palette = ['y', 'g'])
ax3.fig.legend(labels = ['Default', 'Non-Default'])
plt.show()

#### Top 10 correlational factors

##### for Non-Defaulters

In [ ]:
correlation_cols_T0 = T0[['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'CNT_CHILDREN','AMT_INCOME_TOTAL', 
                          'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE','DAYS_BIRTH', 'DAYS_EMPLOYED',
                          'DAYS_REGISTRATION', 'CNT_FAM_MEMBERS', 'DAYS_ID_PUBLISH', 
                          'NAME_EDUCATION_TYPE', 'OCCUPATION_TYPE']]

In [ ]:
corre_T0 = correlation_cols_T0.corr()
corre_T0 = corre_T0.where(np.triu(np.ones(corre_T0.shape), k=1).astype(np.bool)).unstack().reset_index()

corre_T0.columns = ['Col1', 'Col2' , 'Correlation']
corre_T0.dropna(subset = ['Correlation'], inplace = True)
corre_T0['Abs_Correlation'] = corre_T0['Correlation'].abs()

In [ ]:
res_T0 = corre_T0.sort_values(by = 'Correlation' , ascending = False).head(10)
res_T0

In [ ]:
fig = plt.figure(figsize = (20,10))
ax = sns.heatmap(correlation_cols_T0.corr(), cmap = 'YlGnBu', annot = True)

##### for Defaulters

In [ ]:
correlation_cols_T1 = T1[['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'CNT_CHILDREN','AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 
            'AMT_GOODS_PRICE','DAYS_BIRTH', 'DAYS_EMPLOYED',
            'DAYS_REGISTRATION', 'CNT_FAM_MEMBERS', 'DAYS_ID_PUBLISH', 
            'NAME_EDUCATION_TYPE', 'OCCUPATION_TYPE' ]]

In [ ]:
corre_T1 = correlation_cols_T1.corr()
corre_T1 = corre_T1.where(np.triu(np.ones(corre_T1.shape), k=1).astype(np.bool)).unstack().reset_index()

corre_T1.columns = ['Col1', 'Col2' , 'Correlation']
corre_T1.dropna(subset = ['Correlation'], inplace = True)
corre_T1['Abs_Correlation'] = corre_T1['Correlation'].abs()

res_T1 = corre_T1.sort_values(by = 'Correlation' , ascending = False).head(10)
res_T1

In [ ]:
fig = plt.figure(figsize = (20,10))
ax = sns.heatmap(correlation_cols_T1.corr(), cmap = 'YlGnBu', annot = True)

## Insights of Application data:

### 1. Variables for applicant able to Repay the loan:

a. NAME_INCOME_TYPE : the applicants with no/low income i.e. students and buisness persons have no tendency to default.

b. DAYS_BIRTH : Applicants with more age or above 50 have low tendency to default.

c. NAME_EDUCATION_TYPE : Academic degree applications are not likely to default.

d. DAYS_EMPLOYED : applicants having experience of 40+ are less likely to default.

e. AMT_INCOME_TOTAL : High income , about > 70,000 have low tendency to default.

f. CNT_FAM_MEMBERS : people with moderate family mambers are no likely to default.



### 2. Variables for applicant  Not able to Repay the loan:

a. NAME_EDUCATION_TYPE : Secondary and lower secondary education type has seen to be more inclined towards defualtness.

b. CODE_GENDER : Male applicants have more tendency of Defaultness.

c. NAME_FAMILY_STATUS :  Single or Civil marriage type of family are more likely to default.

d. OCCUPATION_TYPE : Drivers, Low skilled laborers, Security staff, Laborers, Cooking Staff type of occupations have greater default rate as compared to others.

e. ORGANIZATION_TYPE : Organizations such as Transport, Industry (type 13, type 8) have more tendency to defaultness.

f. DAYS_BIRTH :  age between 20-35 are likely to default more.

### 4. Reading Previous Application File

In [ ]:
pre_appln_data = pd.read_csv("previous_application.csv")
pre_appln_data.head()

In [ ]:
pre_appln_data.shape

In [ ]:
## dropping duplicates if any
pre_appln_data.drop_duplicates().shape

#### 4.1 Cleaning Previous Application Data

In [ ]:
round(pre_appln_data.isnull().mean()*100,2)

In [ ]:
## dropping columns having missing values more than 50%
pre_appln_data = pre_appln_data.loc[:,round(pre_appln_data.isnull().mean()*100,2) < 50.00]
pre_appln_data.shape

In [ ]:
pre_appln_data.describe()

In [ ]:
# XAP and #XNA replacement by NaN
pre_appln_data = pre_appln_data.replace('XAP', np.NaN)
pre_appln_data = pre_appln_data.replace('XNA', np.NaN)

##### from the info and head command to dataframe, we can see that the columns starting with 'Day' have negative values which not so valid as birth, employment, registration is normally not negative. Hence taking absolute of these columns is necessary.

In [ ]:
for i in pre_appln_data:
    if i.startswith('DAYS'):
        pre_appln_data[i] = abs(pre_appln_data[i])

In [ ]:
pre_appln_data.head()

#### 4.2 Univariate analysis on Previous Application Data

In [ ]:
def pie_pre_appln(col_name):
    plt.figure(figsize = [30,10])
    pre_appln_data[col_name].value_counts().plot.pie(autopct = '%1.1f%%', shadow = True,fontsize = 12,labeldistance = 1.2)
    plt.title(f'Distribution of {col_name} in Previous Application')
    centre_circle = plt.Circle((0,0),0.50,fc='white')
    fig = plt.gcf()
    fig.gca().add_artist(centre_circle)
    plt.legend(loc = 'upper right')
    plt.style.use('ggplot')
    plt.show()

##### 4.2.1. NAME_CONTRACT_TYPE

In [ ]:
pie_pre_appln('NAME_CONTRACT_TYPE')

##### from the graph we can see the distrobution of different types of loan which are Consumer Loan, Cash Loan and Revolving Loan in the previous application dataset

#### 4.2.2. NAME_CONTRACT_STATUS

In [ ]:
pie_pre_appln('NAME_CONTRACT_STATUS')

##### we can observe that, 62% of loan applicatioons are approved while 17.4% are refused. also the percentage of unused offer is less.

In [ ]:
def bar_pre_appln(col_name):
    plt.figure(figsize = [20,5])
    pre_appln_data[col_name].value_counts().plot.bar(fontsize = 12)
    plt.title(f'Distribution of {col_name} in Previous Application')
    plt.show()

#### 4.2.3. WEEKDAY_APPR_PROCESS_START

In [ ]:
bar_pre_appln('WEEKDAY_APPR_PROCESS_START')

##### we can observe that the applications are reduced on WEEKENDS i.e. Saturday and Sunday. while the number of applications are more on Tuesday

#### 4.2.4. NAME_PAYMENT_TYPE

In [ ]:
pie_pre_appln('NAME_PAYMENT_TYPE')

#### 4.2.5. CODE_REJECT_REASON

In [ ]:
pie_pre_appln('CODE_REJECT_REASON')

#### the major percentage of rejection reason is HC.

#### 4.2.6. NAME_CLIENT_TYPE

In [ ]:
pie_pre_appln('NAME_CLIENT_TYPE')

#### we can see that most of clients in previous application are Repeater.

#### 4.2.7 NAME_GOODS_CATEGORY

In [ ]:
bar_pre_appln('NAME_GOODS_CATEGORY')

we can observe that loan for 'Mobile' is having more proportion followed by 'consumer electronics' and 'computers'.

#### 4.3. Univariate Analysis for Continuos Variables

In [ ]:
def pre_dist(col_name):  
    plt.figure(figsize =[10,5])
    sns.distplot(pre_appln_data[col_name] )
    plt.title(f'Distribution of {col_name}  in Previous Applicantion')
    plt.style.use('ggplot')

#### 4.3.1. AMT_ANNUITY

In [ ]:
pre_dist('AMT_ANNUITY')

##### we can see that low amount annuity has higher density in loan applications

#### 4.3.2. AMT_GOODS_PRICE

In [ ]:
pre_dist('AMT_GOODS_PRICE')

##### we can observe that goods with low amount has higher tendency of loan application.

#### 4.3.3. AMT_APPLICATION

In [ ]:
pre_dist('AMT_APPLICATION')

#### 4.4 Bivariate Analysis

In [ ]:
plt.figure(figsize = [20,10])
pre_p = pre_appln_data[['AMT_ANNUITY', 'AMT_CREDIT', 'AMT_GOODS_PRICE', 'NAME_CONTRACT_STATUS']]
ax4 = sns.pairplot(pre_p, hue =  'NAME_CONTRACT_STATUS' )
plt.show()

## Insights of Previous Application data

1. The percentage of loan type 'Revolving loan' in NAME_CONTRACT_TYPE is less in previous applications but it has maximum percentage have difficulties in payment and more likely to default.

2. We can observe from graphs that, applications with 'Revolving loan' and 'Refused' previous application are more tend to default. These can be driving variabels of Defaultness.